{% extends "base.html" %}

{% block title %}
<title>Courses</title>
{% endblock %}

{% block navigation %}
<div class="collapse navbar-collapse flex-row-reverse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item" id="btn-student">
            <a href="{{url_for('student.students')}}" class="nav-link">Students</a>
        </li>
        <li class="nav-item active" id="btn-courses">
            <a href="{{url_for('course.courses')}}" class="nav-link active" id="activeLink">Courses</a>
        </li>
        <li class="nav-item" id="btn-student">
            <a href="{{url_for('college.colleges')}}" class="nav-link">Colleges</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block table %}
<table class="table table-hover caption-top table-responsive-xl">
    <caption>
        <div id="caption">
            <div class="d-flex align-items-center caption-upper">
                <h4 class="p-2" id="table-title">Courses Information</h4>
                <button class="btn btn-primary" id="addNew" data-bs-toggle="modal" data-bs-target="#addCourseForm"><img src="../static/images/addcourseICON.png" alt="" id="addICON"></button>
            </div>
            <div class="pt-3 pb-3 d-flex align-items-center caption-lower">
                <form class="pt-3 pb-3 d-flex align-items-center caption-lower" method="post" action="{{ url_for('course.search') }}">
                    <select id="field" name="field" class="form-select p-2">
                        <option value="select">Select Field</option>
                        <option value="code">Course Code</option>
                        <option value="name">Course Name</option>
                        <option value="college">College</option>
                    </select>
                    <input id="searchField" type="text" class="p-2 m-2 searchfield" name="user-input" placeholder="Type to search using Course Code, Course Name, and College Code">
                    <button class="btn-search">
                        <div class="search">
                            <div class="icon"></div>
                        </div>
                    </button>
                </form>
                <form class="p-2" action="{{ url_for('course.courses') }}">
                    <label for="limit-field">Show </label>
                    <input id="limit-field" name="limit-field" type="number" value="{{course_limit}}" min="5" max="{{datacount}}">
                    <label for="limit-field"> courses</label>
                </form>
            </div>
        </div>
        {% include "/includes/alert_message.html"%}
    </caption>
    
    <thead class="table-light">
        <tr>
            <th scope="col">Code</th>
            <th scope="col">Course</th>
            <th scope="col">College</th>
            <th scope="col">ACTION</th>
        </tr>
    </thead>
    <tbody>
    {% for course in data[1] %}
        <tr>
            <td><b>{{course.0}}</b></td>
            <td>{{course[1]}}</td>
            <td>{{course[2]}}</td>
            <td>
                <a href="{{url_for('course.update', id=course[0])}}" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editCourseForm{{course.0}}">Update</a>
                <a href="{{url_for('course.delete', id=course[0])}}" class="btn btn-danger" onclick="return confirm('Are you sure you want to remove {{course.0}} ?')">Delete</a>
                
            </td>
        </tr>

          <!-- edit_course Modal  -->
        <div class="modal fade" id="editCourseForm{{course.0}}" data-bs-backdrop="static"
        data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel">
        <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <div class="d-flex">
                    <img src="../static/images/SSISlogo.png" alt="SSIS logo">
                    <h5 class="modal-title" id="courseformtitle">Edit Course</h5>
                </div>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form action="{{ url_for('course.update', id=course.0) }}" class="needs-validation" method="post">
                    <div class="mb-3">
                        <label for="course-code" class="form-label">Course Code</label>
                        <input type="courseinfo" class="form-control" id="course-code" value="{{course.0}}" name="course-code" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="course-name" class="form-label">Course Name</label>
                        <input type="courseinfo" class="form-control" id="course-name" value="{{course.1}}" name="course-name" required>
                    </div>
                    <div class="mb-3">
                        <label for="course-college" class="form-label">College</label>
                        <select name="course-college" id="course-college" class="form-select">
                            <option value="{{course.3}}">{{course.3}}</option>
                            {% for college in data[2] %}
                            {% if college.1 != course[3] %}
                                <option value="{{college.1}}" name="college">{{college.1}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary" type="submit" id="addCourseclicked">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
        </div>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      
                      <form action="{{ url_for('course.prev') }}" method="post">
                        <li class="page-item">
                          {% if limit == 'min' or limit == 'min-and-max' %}
                          <button type="submit" class="page-link" aria-label="Previous" name="previous" disabled>Previous</button>
                          {% else %}
                          <button type="submit" class="page-link" aria-label="Previous" name="previous">Previous</button>
                          {% endif %}
                        </li>
                      </form>
                
                      <form action="{{ url_for('course.next') }}" method="post">
                        <li class="page-item">
                          {% if limit == 'max' or limit == 'min-and-max' %}
                          <button type="submit" class="page-link"  aria-label="Next" name="next" disabled>Next</button>
                          {% else %}
                          <button type="submit" class="page-link"  aria-label="Next" name="next">Next</button>
                          {% endif %}
                        </li>
                      </form>
                    </ul>
                </nav>
            </td>
        </tr>
    </tfoot>
</table>
{% endblock %}

