{% extends "index.html" %}

{% block title %} 
<title>Sign Up</title>
{% endblock %}

{% block header_text %}
<h1 class="font-weight-bold py-3">Welcome!</h1>
{% endblock %}

{% block password2 %}
<!--Confirm password entry field-->
<div class="form-row">
    <div class="col-lg-7">
        <input type="password" name="passwordConfirmation" placeholder="Confirm password" class="form-control my-3 p-2">
    </div>
</div> <!--end of Confirm password entry field-->
{% endblock %}

{% block button %}
Sign Up
{% endblock %}

{% block switchPage_prompt %}
<p>Already have an account? <a href="{{ url_for("login") }}">Log In</a></p>
{% endblock %}
