@import 
url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

#main-content{
    background-color: white; 
    border-radius: 30px; 
    box-shadow: 12px 12px 22px grey;
    height: 600px;
    padding: auto;
}

#btn-student{
    font-weight: 500;
}

.table{
    background: #fff;
}

#caption{
    padding-top: 10px;
    position: -webkit-sticky;
}

.caption-upper, .caption-lower{
    justify-content: center;
}
.searchfield{
    width: 600px;
    max-width: 100%;
}
