{% include "/includes/modals.html" %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- STYLESHEET -->
    <link rel="stylesheet" href="../static/css/homepage.css?v=1.0.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <!--ICON-->
    <link rel="shortcut icon" href="../static/images/SSISlogo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    
    
    {% block title %} {% endblock %}

  </head>
  <body>
    <div class="wrapper">
        <header class="d-flex">
            <div class="container navi">
                <nav class="navbar navbar-expand-sm navbar-light" id="parentNavbar">
                    
                    <div class="container">
                        <a onclick="window.location.reload()" class="navbar-brand mb-0 h1">
                            <img class="d-inline-block align-top"
                                 src="{{url_for('static', filename='images/SSISlogo.png')}}"
                                 alt="SSIS logo">
                        </a>

                        <a href="{{url_for('admin.login')}}">
                            <div class="logout row align-items-center text-center">
                                <p class="logout-text">Logout</p>
                            </div>
                        </a>
                        <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNav"
                        aria-controls="navbarNav"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        
                        {%block navigation%}
                        {% endblock %}
                        
                    </div>
                </nav>
            </div>
        </header>

        <br>

        <main>
            <div class="container pt-3">
                <!-- <h5>{{ datacount }}</h5> -->
            </div>

            <div class="container table-responsive-xl d-flex overflow-auto" id="main-content">
                {% block table %}
                {% endblock %}
            </div>
        </main>
        <br>
        <footer>
            <div class="container-fluid p-2 footer">
                <p id="footer1">SSIS: Simple Student Information System</p>
            </div>
        </footer>
    </div> <!--End of wrapper-->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    {% block script %}
    {% endblock %}
  </body>
  <script src="{{url_for('static', filename='js/add_image.js')}}"></script>
  
</html>