<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item" name="current_page" value="1"><p>1/3</p></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous" name="previous">
          <span aria-hidden="true">Previous</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="{{ url_for('student.next') }}" aria-label="Next" name="next">
          <span aria-hidden="true">Next</span>
        </a>
      </li>
    </ul>
  </nav>